$radius: 0;
@import "_fonts.scss";
@import "_icons.scss";
@import "_colors.scss";
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";

// cards variables
$card-shadow: none;
@import "bulma/sass/components/card.sass";
@import "bulma/sass/components/media.sass";
@import "bulma/sass/components/modal.sass";
@import "bulma/sass/components/navbar.sass";

@import "bulma/sass/grid/columns.sass";

// buttons variables
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/content.sass";
@import "bulma/sass/elements/image.sass";

// form variables
$control-border-width: 0px;
$input-background-color: $white;
$input-border-color: transparent;
$input-shadow: none;
@import "bulma/sass/elements/form.sass";
@import "bulma/sass/elements/tag.sass";

@import "bulma/sass/form/_all.sass";

@import "bulma/sass/layout/section.sass";

.tag.is-primary.is-outlined {
  @extend .button.is-primary.is-outlined;
  border: solid 1px;
}
a.tag {
  &:hover {
    text-decoration: none;
  }
}

navbar.navbar {
  a {
    text-transform: uppercase;
  }
}

.button {
  text-transform: uppercase;
  &.is-wider {
    padding-left: 45px;
    padding-right: 45px;
  }
}

.label {
  text-transform: uppercase;
}

.has-initial-transformation {
  text-transform: initial;
}

.modal-content.is-fullwidth {
  width: 100%;
  max-width: 100%;
  margin: 100px auto 0 auto;
}
