@import 'medium-editor/src/sass/medium-editor.scss';
@import 'medium-editor/src/sass/themes/bootstrap.scss';
@import './components/_editable.scss';
@import './components/_borderless_input.scss';

.hexagon {
  cursor: pointer;

  &:hover, &.active {
    background-color: #333333;
    color: white;
    .triangle {
       border-color: transparent transparent #ffffff transparent;
    }
  }
  -webkit-tranition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.hexagon {
  position: relative;
  width: 55px;
  height: 31.75px;
  background-color: #ffffff;
  margin: 15.88px 0;
  border-left: solid 3px #333333;
  border-right: solid 3px #333333;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 38.89px;
  height: 38.89px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 5.0546px;
}

.hexagon:before {
  top: -19.4454px;
  border-top: solid 4.2426px #333333;
  border-right: solid 4.2426px #333333;
}

.hexagon:after {
  bottom: -19.4454px;
  border-bottom: solid 4.2426px #333333;
  border-left: solid 4.2426px #333333;
}

.hexagon div {
  text-align: center;
  z-index: 99;
  position: relative;
}

.hexagon .triangle {
  -webkit-tranition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7.5px 5px 7.5px;
  border-color: transparent transparent #000000 transparent;
  margin: 0 auto;
  top: -5px;
}

.card {
  margin-bottom: 10px
}

.editable {
  border: 0;
  outline: none;
}
